<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a
        href="https://www.facebook.com/satinder.singhsall"
        target="_blank"
        aria-label="Facebook"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a
        href="https://www.instagram.com/satindersinghsall/"
        target="_blank"
        aria-label="Instagram"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/satinder-singh-sall-b62049204/"
        target="_blank"
        aria-label="LinkedIn"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>

    <div class="f-info-brand">© WanderLux Private Limited</div>

    <div class="f-info-links">
      <a href="">Privacy</a>
      <span>|</span>
      <a href="">Terms & Conditions</a>
    </div>
  </div>
</footer>
