<% layout("/layouts/boilerplate") %>

<div class="row mt-5">
  <div class="alert alert-danger col-6 offset-3" role="alert">
    <h4>Something Went Wrong! ⚠️</h4>
    <br />
    <p class="alert-message">Error <%= statusCode %>: <%= message %></p>
  </div>
</div>
